$polite_white: #F2F2F2;
$polite_black: #333;
$red_alert:#D32F2F;

$color_1:#15992A;
$color_2:#00C13F;
$color_3:#128425;
$color_4:#3A9548;

$color_accent_1:#83BA1F;
$color_accent_2:#91D100;
$color_accent_3:#7BAD18;
$color_accent_4:#94BD4A;

$column_gap:1em;

$break-points:(
  'xs' : 0,
  'md' : 600,
  'lg' : 1024
);